{
    "timeout": 10,
    "source": {
        "directories": [
            "Client",
            "Command",
            "DependencyInjection"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}
